body {
  background-color: #e19b32;
  background-image: url("/images/cafe.jpg");
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #671a1a;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(189, 8, 186, 0.04);
}

.navbar-brand {
  color: #f50808 !important;
}

.nav-link {
  color: #5521f0 !important;
}

.table-dark {
  color: #dc16ff;
}

.list-group-item {
  border-color: #22f50b;
  background-color: #08f5f5;
}

.login-box {
  background-color: rgba(32, 4, 4, 0.895);
}

.login-header {
  background-color: rgba(245, 121, 5, 0.959);
}

.login-body {
  background-color: rgba(0, 0, 0, 0.25);
}

.form-group {
  margin-bottom: 1rem;
}

.list-group-item {
  color: #f8f406;
  border-color: #826dec;
  background-color: #000;
}

nav {
  position: fixed !important;
}
